<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.frasson.app_homecare">

    <application
        android:allowBackup="true"
        android:icon="@drawable/homecareimagem"
        android:label="@string/app_name"
        android:roundIcon="@drawable/homecareimagem"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".CadastroClienteActivity"
            android:label="Cadastro Cliente" />
        <activity
            android:name=".CadastroProfissionalActivity"
            android:label="Cadastro Profissional" />
        <activity
            android:name=".Lista.ListaProfissionaisActivity"
            android:label="Profissionais"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Lista.ListaClientesActivity"
            android:label="Clientes"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>